# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: KNXD daemon
version: "0.4.5"
slug: knxd
description: KNXD daemon you can use to create a KNX/IP gateway via TPUART or USB bus adapters
url: https://github.com/da-anda/hass-io-addons/tree/master/knxd
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
startup: services
host_network: true
privileged:
  - SYS_MODULE
  - SYS_RAWIO
options:
  address: "0.0.1"
  client_address: "0.0.2:8"
  interface: usb
  device: ""
  log_error_level: warning
  usb_filters: single
  ip_address: ""
  dest_port: "99"
  custom_config: ""
schema:
  address: "match(^\\d+\\.\\d+.\\d+$)"
  client_address: "match(^\\d+\\.\\d+.\\d+\\:\\d+$)"
  interface: "list(tpuart|tpuart-ip|usb|ft12|ft12cemi|ncn5120|ncn5120-ip|dummy)"
  device: "device?"
  log_error_level: "list(warning|error|fatal|note|info|debug)"
  usb_filters: "str?"
  ip_address: "str?"
  dest_port: "port?"
  custom_config: "str?"
watchdog: "tcp://[HOST]:[PORT:6720]"
ports:
  "6720/tcp": 6720
  "3671/udp": 3671
ports_description:
  "6720/tcp": "Required by knx interface and being able to access the KNX bus via ETS"
  "3671/udp": "Required by knx interface and being able to access the KNX bus via ETS"
image: "ghcr.io/da-anda/hass-io-addons-{arch}-addon-knxd"
uart: true
